<!DOCTYPE html>
<html>
  <head>
    <title>InstacardReflex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Sign up", new_user_registration_path, id: "user-signup" %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "user-signout" %>
    <%= link_to "Sign in", new_user_session_path, id: "user-signin" %>
    <%= yield %>
  </body>
</html>
